[submodule "themes/lotusdocs"]
	path = themes/lotusdocs
	url = https://github.com/colinwilson/lotusdocs
[submodule "public"]
	path = public
	url = git@github.com:violetaplum/violetaplum.github.io.git
	branch = main
